{% extends 'base.html' %}

{% block content %}
    <!-- NavBar -->
    <nav class="navbar navbar-expand-lg shadow" style = "background-color: #141519">
        <div class="container">
            <span class="navbar-brand mb-0 h1;">{{name}}</span>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'main:logout' %}">
                        <button class="btn btn-outline-secondary" style="color: #e8dcd5;" type="submit">Logout</button>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- End of NavBar-->

    <!-- Jumbotron -->
    <div class="jumbotron">
        <div class="jumbotron-content">
            <h1 class="title">VINEYARD</h1>
            <hr class="caption">
            <p>Introduce an excellent collection of white and red wine.</p>
        </div>
    </div>
    <!-- End of Jumbotron -->

    <!-- Card -->
    <div class="container">
        <div class="row" id="product_table">
        </div>
    </div>    
    <!-- End of Card -->

    <!-- Modal Form Add Product AJAX -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Add New Product</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="form" onsubmit="return false;">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="name" class="col-form-label">Name:</label>
                            <input type="text" class="form-control" id="name" name="name"></input>
                        </div>
                        <div class="mb-3">
                            <label for="amount" class="col-form-label">Amount:</label>
                            <input type="number" class="form-control" id="amount" name="amount"></input>
                        </div>
                        <div class="mb-3">
                            <label for="description" class="col-form-label">Description:</label>
                            <textarea class="form-control" id="description" name="description"></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="image" class="col-form-label">Image:</label>
                            <input type="file" class="form-control" id="image" name="image">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn" id="button_add" style="background-color: #141519; color: #FFF" data-bs-dismiss="modal">Add Product</button>
                </div>
            </div>
        </div>
    </div>
    <!-- End of Modal Form Add Product AJAX -->

    <!-- Add more product -->
    <div class="center-content">
        <p class="last-login">Last login: {{ last_login }}</p>
        <button type="button" class="product-button-light" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Product by AJAX</button>
    </div>
    <!-- End of Add more product -->

    <script>
    async function getProducts() {
        return fetch("get-product/").then((res) => res.json())
    }

    async function refreshProducts() {
        document.getElementById("product_table").innerHTML = ""
        const products = await getProducts()
        let htmlString = ` `
        products.forEach((item) => {
            htmlString += `
                <div class="col-md-6 col-lg-6 col-sm-12">
                    <div class="product-card">
                        <div class="product-image">
                            <img src="static/${item.fields.image}" alt="Product Image">
                        </div>
                        <div class="product-details">
                            <div class="product-name">${item.fields.name}</div>
                            <div class="product-description">${item.fields.description}</div>
                            <div class="product-amount">In Stock: ${item.fields.amount}</div>
                        </div>
                        <div class="product-actions mt-auto">
                            <button class="product-button-dark" onclick="increaseProduct(event, ${item.pk})">+</button>
                            <button class="product-button-dark" onclick="removeProduct(${item.pk})">-</button>
                            <button class="product-button-dark" onclick="editProduct(${item.pk})">Edit</button>
                            <button class="product-button-dark" onclick="deleteProduct(${item.pk})">Delete</button>
                        </div>
                    </div>
                </div>`;
        });

        document.getElementById("product_table").innerHTML = htmlString
    }

    refreshProducts()

    function addProduct() {
        fetch("/create-product-ajax/", {
            method: "POST",
            body: new FormData(document.querySelector('#form'))
        }).then(refreshProducts)

        document.getElementById("form").reset()
        return false
    }

    document.getElementById("button_add").onclick = addProduct

    // Fungsi untuk menambahkan produk
    function increaseProduct(event, productId) {
        event.preventDefault();
        fetch("/increase_product/"+productId+"/")
        .then(refreshProducts)    
    }

    // Fungsi untuk mengurangi produk
    function removeProduct(productId) {
        fetch("/remove_product/"+productId+"/")
        .then(refreshProducts)
    }

    // Fungsi untuk mengedit produk
    function editProduct(productId) {
        fetch("/edit_product/"+productId+"/")
        .then(refreshProducts)
    }

    // Fungsi untuk menghapus produk
    async function deleteProduct(productId) {
        if (confirm("Are you sure you want to delete this product?")) {
            fetch("/delete-product-ajax/"+productId+"/", {
                method: "DELETE",
            })
            .then(res => res.json())
            .then(data => {
                refreshProducts();
                alert(data.message);
            })
        }
    }
    </script>
{% endblock content %}